FORMAT: 1A
HOST: https://api.zarinpal.com/

# ZarinPal Rest API

The ZarinPal API is organized around REST. Our API has predictable, resource-oriented URLs, and uses HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients.


# Group Purses

## purse add [/purse/add.json]

Add one user's purse

### Add Purse [POST]

+ Request (application/json)

    + Headers
    Location: access_token

    + body
    {
      "purse" : "1",
      "name" : "test1"
    }

+ Response 400 (application/json)

    + Body
      {
          "meta": {
          "code": 400,
          "error_type": "PurseLimit",
          "error_message": "You can not create more purses."
          }
      }
+ Response 400 (application/json)

    + Body
      {
          "meta": {
          "code": 400,
          "error_type": "PurseNotEnoughCredit",
          "error_message": "Purse does not have enough credit."
          }
      }

+ Response 200 (application/json)

  + Body
    {
      "meta": {
        "code": 200,
        "message": "purse added successfully"
      }
    }

## list purse [/purse/list.json]

List purse current user

### List All Purses [GET]

+ Request (application/json)

    + Headers
    Location: access_token

+ Response 400 (application/json)

    + Body
      {
          "meta": {
          "code": 400,
          "error_type": "PurseNotFound",
          "error_message": "Purse Not Found."
          }
      }

+ Response 200 (application/json)

  + body
  {
      "data":
        {
          "purse": 1,
          "name": "اصلی زرين پال",
          "balance": 846200,
          "updated_at": "2016-05-23 09:58:18"
        },
        "meta": {
          "code": 200
        }
  }

## purse balance [/purse/balance/purse_number.json]

get user's purse balance

### Purse Balance [GET]

+ Request (application/json)

    + Headers
    Location: access_token

+ Response 400 (application/json)

    + Body
      {
          "meta": {
            "code": 400,
            "error_type": "PurseNotFound",
            "error_message": "Purse Not Found."
          }
      }
+ Response 200 (application/json)

  + Body
        "meta": {
          "code": 200,
          },
       "data": {
           "balance": 846200,
           "today_income": 0,
           "today_outcome": 0
       }

## purse info [/purse/info/:zp.0.0 or email or mobile.json]

Show info purse current user

### Get Info Purse [GET]

+ Request (application/json)

    + Headers
    Location: access_token

+ Response 400 (application/json)

    + Body
      {
          "meta": {
            "code": 400,
            "error_type": "UserNotFound",
            "error_message": "User Not Found."
          }
      }
+ Response 400 (application/json)

    + Body
      {
          "meta": {
            "code": 400,
            "error_type": "PurseNotFound",
            "error_message": "Purse Not Found."
          }
      }

+ Response 200 (application/json)

  + Body
      "meta": {
          "code": 200
      },
      "purse": 1,
      "public_id": 0,
      "name": "مصطفی امیری",
      "email_hash": "asdfghjklzxcvbnmoiuytrewas",
      "zp_id": "ZP.0.0"

## edit purse [/purse/edit/{purseNumber}.json]

Edit name purse

### Edit Purse [POST]

+ Request (application/json)

    + Headers
    Location: access_token

    +Body
      {
        "name" : "test2"
      }

+ Response 400 (application/json)

    + Body
      {
          "meta": {
            "code": 400,
            "error_type": "PurseNotFound",
            "error_message": "Purse Not Found."
          }
      }

+ Response 200 (application/json)

  + Body
      "meta": {
          "code": 200,
          "message": "Update name purse successfully."
      }
